<app-header-user></app-header-user>

<div class="container mx-auto px-4 py-10 mt-16">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- การ์ด 1 -->
    <div class="card bg-gray-900 text-white w-full shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300">
      <div class="card-body items-center text-center">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">กรุณาเลือกเวลา</div>
          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
            <li><a>10:00 - 12:00 </a></li>
            <li><a>12:00 - 14:00</a></li>
            <li><a>15:00 - 17:00 </a></li>
            <li><a>17:00 - 19:00 </a></li>
            <li><a>19:00 - 21:00 </a></li>
            <li><a>21:00 - 23:00 </a></li>
          </ul>
        </div>
        <figure class="px-5 pt-1">
          <img src="โต๊ะสนุ๊ก.webp" alt="โต๊ะสนุ๊ก" class="rounded-xl" />
        </figure>
        <h3 class="card-title text-white">โต๊ะสนุ๊ก</h3>
        <p class="text-gray-300">โต๊ะสนุ๊กมาตรฐานสำหรับการแข่งขัน</p>
        <div class="card-actions">
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <!-- การ์ด 2 -->
    <div class="card bg-gray-900 text-white w-full shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300">
      <div class="card-body items-center text-center">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">กรุณาเลือกเวลา</div>
          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
            <li><a>10:00 - 12:00 </a></li>
            <li><a>12:00 - 14:00</a></li>
            <li><a>15:00 - 17:00 </a></li>
            <li><a>17:00 - 19:00 </a></li>
            <li><a>19:00 - 21:00 </a></li>
            <li><a>21:00 - 23:00 </a></li>
          </ul>
        </div>
        <figure class="px-5 pt-1">
          <img src="สนามเทนนิส.webp" alt="สนามเทนนิส" class="rounded-xl" />
        </figure>
        <h3 class="card-title text-white">สนามเทนนิส</h3>
        <p class="text-gray-300">สนามเทนนิสพื้นอะคริลิกคุณภาพสูง</p>
        <div class="card-actions">
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <!-- การ์ด 3 -->
    <div class="card bg-gray-900 text-white w-full shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300">
      <div class="card-body items-center text-center">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">กรุณาเลือกเวลา</div>
          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
            <li><a>10:00 - 12:00 </a></li>
            <li><a>12:00 - 14:00</a></li>
            <li><a>15:00 - 17:00 </a></li>
            <li><a>17:00 - 19:00 </a></li>
            <li><a>19:00 - 21:00 </a></li>
            <li><a>21:00 - 23:00 </a></li>
          </ul>
        </div>
        <figure class="px-5 pt-1">
          <img src="สนามแบต.webp" alt="สนามแบต" class="rounded-xl" />
        </figure>
        <h3 class="card-title text-white">สนามแบต</h3>
        <p class="text-gray-300">สนามแบตมินตันมาตรฐาน</p>
        <div class="card-actions">
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <!-- การ์ด 4 -->
    <div class="card bg-gray-900 text-white w-full shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300">
      <div class="card-body items-center text-center">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">กรุณาเลือกเวลา</div>
          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
            <li><a>10:00 - 12:00 </a></li>
            <li><a>12:00 - 14:00</a></li>
            <li><a>15:00 - 17:00 </a></li>
            <li><a>17:00 - 19:00 </a></li>
            <li><a>19:00 - 21:00 </a></li>
            <li><a>21:00 - 23:00 </a></li>
          </ul>
        </div>
        <figure class="px-5 pt-1">
          <img src="สนามฟุตบอล.webp" alt="สนามฟุตบอล" class="rounded-xl" />
        </figure>
        <h3 class="card-title text-white">สนามฟุตบอล</h3>
        <p class="text-gray-300">สนามฟุตบอลหญ้าเทียมมาตรฐาน</p>
        <div class="card-actions">
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <!-- การ์ด 5 -->
    <div class="card bg-gray-900 text-white w-full shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300">
      <div class="card-body items-center text-center">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">กรุณาเลือกเวลา</div>
          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
            <li><a>10:00 - 12:00 </a></li>
            <li><a>12:00 - 14:00</a></li>
            <li><a>15:00 - 17:00 </a></li>
            <li><a>17:00 - 19:00 </a></li>
            <li><a>19:00 - 21:00 </a></li>
            <li><a>21:00 - 23:00 </a></li>
          </ul>
        </div>
        <figure class="px-5 pt-1">
          <img src="สระว่ายน้ำ.webp" alt="สระว่ายน้ำ" class="rounded-xl" />
        </figure>
        <h3 class="card-title text-white">สระว่ายน้ำ</h3>
        <p class="text-gray-300">สระว่ายน้ำขนาดโอลิมปิก</p>
        <div class="card-actions">
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>

    <!-- การ์ด 6 -->
    <div class="card bg-gray-900 text-white w-full shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300">
      <div class="card-body items-center text-center">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn m-0 bg-white text-black w-64 px-4 py-1 rounded-md">กรุณาเลือกเวลา</div>
          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-box z-[1] w-150p-2 shadow max-h-100 overflow-y-auto">
            <li><a>10:00 - 12:00 </a></li>
            <li><a>12:00 - 14:00</a></li>
            <li><a>15:00 - 17:00 </a></li>
            <li><a>17:00 - 19:00 </a></li>
            <li><a>19:00 - 21:00 </a></li>
            <li><a>21:00 - 23:00 </a></li>
          </ul>
        </div>
        <figure class="px-5 pt-1">
          <img src="ห้องจัดเลี้ยง.webp" alt="ห้องจัดเลี้ยง" class="rounded-xl" />
        </figure>
        <h3 class="card-title text-white">ห้องจัดเลี้ยง</h3>
        <p class="text-gray-300">ห้องจัดเลี้ยงรองรับ 200 คน</p>
        <div class="card-actions">
          <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
