<app-header-user></app-header-user>

<!-- Carousel -->
<div class="swiper mySwiper w-full max-w-4xl mx-auto">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="สระว่ายน้ำ.webp" class="w-full rounded-lg">
        </div>
        <div class="swiper-slide">
            <img src="สนามเทนนิส.webp" class="w-full rounded-lg">
        </div>
        <div class="swiper-slide">
            <img src="สนามแบต.webp" class="w-full rounded-lg">
        </div>
    </div>
    
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>
